body{
    text-align: center;
    align-items: center;

}

.container{
    width: max-content;
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: powderblue;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

.square{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid black;
    display: inline-block;
    position: relative;
}
.square:hover{
    cursor: pointer;
}


.o::after{
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.x::after{
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#restart{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
    border: solid 1px goldenrod;  
    background-color:goldenrod;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    transition: 300ms all;
}
#restart:hover{
    background-color: gold;
    color: white;
    cursor: pointer;
}